/* App.css */
body {
  font-family: 'M PLUS 1p', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #111111;
}


/* メインコンテンツ */
main {
  padding: 2rem;
}

/* 画像に余白 */
img {
  margin-top: 1rem;
  max-width: 100%;
  height: auto;
}
